* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
  background:
    linear-gradient(to top right, rgba(88, 255, 130, 0.5), rgba(238, 255, 55, 0.74)),
    url('./assets/noise.svg');
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #213547;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 1mm 1mm 0.7rem rgba(125, 122, 73, 0.704);
  margin: 20px;

  background-color: #fff279ae;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  transition: 0.5s;
  background-color: #fff279ae;
  box-shadow: 3mm 3mm 1rem rgba(88, 87, 51, 0.662);

}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}