.body {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

li a {
    font-size: 1em;
    color: #213547;
    text-decoration: none;
    transition: color 0.3s ease;
}

header {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ffffffee;
    max-width: 50%;
    padding: 10px 50px;
    border-radius: 100px;
    filter: drop-shadow(1mm 1mm 0.7rem rgba(125, 122, 73, 0.704));
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    gap: 40px;
}

li {
    text-align: center;
}


a:hover {
    color: #ecf0f1;
}


footer {
    background-color: #ffffffee;
    color: #213547;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.active {
    font-weight: bold;
}

h1 {
    padding-bottom: 30px;
}