#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

.question {
  place-content: center center;
  border-radius: 100px;
  padding: 40px;
  width: fit-content;
  margin: 10px;
  filter: contrast(170%) brightness(100%);
  background-color: white;
  background:
    linear-gradient(to bottom right, rgba(130, 255, 161, 0.5), rgba(238, 255, 55, 0.616)),
    url('./assets/noise.svg');
  filter: drop-shadow(0 3mm 4mm rgb(82, 149, 99));
}

.answers {
  padding-top: 40px;
}

.answer {
  font-size: 1.2em;
  font-weight: bold;
}

.correct {
  background: rgb(194, 255, 134);
}

.wrong {
  background: rgb(255, 193, 179);
}