* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #213547;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  filter: drop-shadow(1mm 1mm 0.5rem rgba(0, 0, 0, 0.509));
  margin: 20px;

  background:
    linear-gradient(to top left, rgba(88, 255, 130, 0.5), rgba(238, 255, 55, 0.616)),
    url('./assets/noise.svg');

  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transition: 2s;
  background:
    linear-gradient(to bottom left, rgba(71, 250, 116, 0.697), rgba(209, 252, 39, 0.715)),
    url('./assets/noise.svg');
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}